<script setup lang="ts">
import { useQuery } from "@vue/apollo-composable";
import { usersQuery } from "../gql/users";

const { result, loading } = useQuery(usersQuery);
</script>

<template>
  <main>
    <h1>Users</h1>
    <span v-if="loading">Loading...</span>
    <ul v-if="result?.users?.length">
      <li v-for="user in result.users" :key="user.id">
        {{ user.name }}
      </li>
    </ul>
  </main>
</template>
